* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#0772AB, #BFDBF7);
    font-family: sans-serif;
    color: white;
}
.app{
    border: 8px solid white;
    padding: 125px;
}
.location{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.degree{
    display: flex;
    font-size: 40px;
    align-items: center;
    
}
.summary{
    margin:10px;
    font-size: 25px;
}
.title{
    text-align: center;
    text-decoration: underline;
    margin-top: -70px;
}

